<div class="details container">
  <div class="details__content">
    <h1>{{name}}</h1>

    <div 
      class="details__example js-editor-background-target" 
      style="{{background}}; background-size: {{data.size}}px;">
    </div>

    {{!-- <h2>
      SVG:
    </h2>

    <div class="js-editor-svg-target">
      {{{svg}}}
    </div> --}}

    <pre><code class="js-editor-svg-code-target">{{svg}}</code></pre>

    <a href="{{downloadUrl}}" download>Download</a>

    <h2>CSS:</h2>

    <pre><code class="js-editor-css-code-target">{{background}}
background-size: {{data.size}}px;</code></pre>

    <h2>Edit Tesselation</h2>
    
    <form method="GET" class="js-editor">
      <label for="fill">
        Fill Color:
        <input type="color" value="{{data.fill}}" name="fill" id="fill">
      </label>
      <label for="stroke">
        Stroke Color:
        <input type="color" value="{{data.stroke}}" name="stroke" id="stroke">
      </label>
      <label for="strokeWidth">
        Stroke Width:
        <input type="range" value="{{data.strokeWidth}}" name="strokeWidth" id="strokeWidth" min="1" max="20" step="0.1">
      </label>
      <label for="size">
        Size
        <input type="range" value="{{data.size}}" name="size" id="size" min="5" max="500" step="1">
      </label>
    </form>
  </div>
</div>

<script>
  const baseData = {{{dataString}}};
</script>
<script src="/scripts/editor.js" type="module"></script>